.location {
  width: 100%;
  padding-inline-start: 0px;
  max-width: 100%;
}
.leftSvg {
  width: 10px;
  min-height: 60px;
  margin: 0;
  max-width: 7%;
}
.toLocation {
  --inner-border-width: 0px 0px 0px 0px;
  --border-width: 0 0 0 0;
}
.riders {
  background-color: #2a2e43;
}
.ridesharing {
  color: #fff;
}
.options {
  padding-inline-start: 0px;
}
.cardOption {
  padding-inline-start: 0px;
  padding-inline-end: 0px;
}
.CardInside {
  margin-left: 0px;
  margin-right: 0px;
  -webkit-margin-start: 0px;
  margin-inline-start: 0px;
  -webkit-margin-end: 0px;
  margin-inline-end: 0px;
}
.cardGroups {
  margin-left: 0px;
  margin-right: 0px;
  -webkit-margin-start: 0px;
  margin-inline-start: 2px;
  -webkit-margin-end: 2px;
  margin-inline-end: 2px;
  background-color: #353a50;
}
.active {
  background-color: #f4911e;
}
.optionIcons {
  margin: auto auto;
  text-align: center;
  align-items: center;
}
.CallTaxibutton {
  --background-activated: #f4911e;
  --background: #f4911e;
  margin-top: 15px;
  height: 42px;
  --border-radius: 10px;
  color: #fff;
}
.iconicon {
  fill: #f4911e;
}
