.riders {
  background-color: #2a2e43;
  width: 94%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: -0.5em;
}
.Bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
